# Dossiers de build et binaires
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/

# Fichiers spécifiques à l'utilisateur ou au débogage
*.user
*.userosscache
*.suo
*.userprefs
*.log

# IDEs et outils de développement
.idea/
.vs/
*.vsconfig

# Cache de compilation
*.csprojResolveAssemblyReference.cache
*.pidb
*.svclog
*.scc

# Fichiers système ou sauvegardes
[Tt]humbs.db
[Dd]esktop.ini
*~
*.bak
*.swp
*.tmp

# Paquets NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Ressources à conserver explicitement
!img/
!GestionCSkin/Resources/
!GestionCSkin/GestionCSkin.sln
!GestionCSkin/GestionCSkin.csproj
